<div class="utilities">
            <a href="{{ links.12f3bac }}" class="db-profile w-inline-block"><img loading="lazy" src="{{ images.-248e4bbb.url }}" alt="{{ images.-248e4bbb.alt | trim | escape }}"></a>
          </div>